[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pelican = "*"
pelican-plugin-installer = "*"
markdown = "*"
mdx-cite = {git = "https://github.com/aleray/mdx_cite.git", editable = true}
mdx-custom-span-class = {git = "https://github.com/exaroth/mdx_custom_span_class.git", editable = true}
markdown-newtab = {git = "https://github.com/Undeterminant/markdown-newtab.git", editable = true}


[requires]

python_version = "3.6"
