[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pelican = "*"
pelican-plugin-installer = "*"
markdown = "*"
"beautifulsoup4" = "*"
md-environ = "*"
markdown-blockdiag = "*"
pip-review = "*"
pymdown-extensions = "*"
pyembed-markdown = "*"
markdown-downheader = "*"

[requires]

python_version = "3.6"
